version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      - PHP_MEMORY_LIMIT=${PHP_MEMORY_LIMIT}
      - UPLOAD_MAX_FILESIZE=${UPLOAD_MAX_FILESIZE}
      - POST_MAX_SIZE=${POST_MAX_SIZE}
      - DOCKER_ENV=true

  db:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: 